<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <title>Navigation</title>
  </head>
  <body>
    <div style="display: flex; flex-direction: row; padding-right: 30px">
      <h1 class="wordheader">Word Wizard</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/wordcounter">Word Counter</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
