<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Grid</title>
  </head>
  <body>
    <div class="word_grid">
      <table>
        <thead>
          <tr>
            <th></th>
            {% for length in lengthset %}
            <th id="length" style="padding-right: 10px">{{length}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for val in letterset %}
          <tr>
            <th style="padding-right: 15px">{{val}}</th>
            {% for len in lengthset %}
            <td style="padding: 5px 5px 5px 5px">
              {{ word_grid.get(len, {}).get(val, '-') }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
